$success: #a1b182;
$danger: #d9514eff;
$primary: #7161ef;
$secondary: #7f5d51;

@import "~bootstrap/scss/bootstrap";
@import "~bs-stepper/dist/css/bs-stepper.min.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css";

.custom-file-input {
  opacity: 1;
}

.btn-success {
  color: white;
}

.btn-success:hover {
  color: white;
}

.required:before {
  content: "* ";
  font-weight: bold;
  color: $danger;
}

.link-calendar {
  color: white;
}

.link-calendar:hover {
  color: #7f5d51;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  background-color: #fbeaf7;
}

footer {
  color: white;
  background-color: #353434;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.menu-icon {
  cursor: pointer;
  text-align: center;
  transition: 1s;
}

.menu-icon:hover {

  border-radius: 100px;
 
  cursor: pointer;
  
}


 

.brand {
  display: block;
  height: 100%;
}

.fly {
  position: absolute;
  text-align: center;
  z-index: 10;
}

.pointer {
  cursor: pointer;
}

.layout-description {
  border-radius: 5px;
  background-color: white;
}

.calendar-cell {
  height: 100%;
  width: 13%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  background-color: #efd9ce;
  overflow-y: scroll;
  font-size: 13px;
}

.calendar-cell-day {
  width: 13%;
}

.calendar-cell-out {
  background-color: #9c9c9c;
}

.calendar-cell-all-event {
  background-color: #71c077;
  color: white;
}

.calendar-cell-ponctual-event {
  background-color: #d18484;
  color: white;
}

.calendar-cell-hebdo-event {
  background-color: #b79ced;
  color: white;
}

/*fix dropdown*/
.note-btn-group .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.note-popover .popover-content .note-color .dropdown-toggle,
.note-editor .panel-heading.note-toolbar .note-color .dropdown-toggle {
  width: 20px;
  padding-left: 1px;
}

/*fix icon button*/
.note-editor .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.note-editor .btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.note-editor .dropdown-toggle:after {
  content: initial;
}

/*fix background toolbar*/
.note-editor .panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/*fix modal*/
.note-editor .modal-header {
  display: block;
}

/*fix popover*/
.note-popover {
  display: none;
}

/* Modal */

.modal-header {
  background-color: #b265ff;
  color: white;
}

.text-xs {
  font-size: 0.6em;
}

.text-s {
  font-size: 0.8em;
}

.text-m {
  font-size: 1em;
}

.text-l {
  font-size: 1.5em;
}

.text-xl {
  font-size: 2em;
}

.bg-modal
{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content
{
  width: 500px ;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
}