* {
	margin: 0;
	padding: 0;
}


.left {
	float: left;
}
.presentationForum{
	width: 100%;
	height: 200px;
	background-color: #6C88A8;
	color: white;
	text-align: center;
}
.presentationForum h1{
	font-size: 55px;
	padding-top: 75px;
}

#nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100px;
	background-color:#94bbe9 ;
}

#nav a{

	font-weight: bold;
	font-size: 35px;
	color: #fff;
	text-decoration: none;

}

#nav li{
	margin-right: 75px;
	transition-duration: 0.5s;
}


#nav li:hover{
	transition-duration: 1s;

	transform: translateX(25px);
}




.logoNavBar img{
	margin: 12.5px;
	width: 75px;
	height: 75px;

}
.right {
	display: flex;
	flex-direction: column;
	align-items: center;
	float: right;
}
.right button{
	margin-bottom: 50px;
}
body {

	color: #ffffff;
	font-family: Raleway;
}

a {
	text-decoration: none;
}






#logo {
	display: flex;
	align-content: center;
	width: 64px;
	height: 64px;
	min-width: 64px;
	min-height: 64px;
	margin-left: 25px;
	border-radius: 50px;
}

#logo a img {
	width: 100%;
	height: 100%;
}

nav {
	width: 70%;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
	padding-top: 21px;
	margin-left: 40px;
}

#main {

	width: 100%;
	color: black;
	background-color: #ffffff;
}

#main .content {

	width: 90%;
	display: flex;
	margin: auto;
	margin-top: 0%;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px 0;
}

#right {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	min-width: 350px;
}

#right button {
	color: #ffffff;
	width: 300px;
	padding: 10px;
	border-radius: 6px;
	border: 0;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
	background-color: #94bbe9;
	font-family: Raleway;
	margin-bottom: 25px;
	transition: 0.5s;
}

#right button:hover {
	background-color:#6C88A8;
	transition: 0.5s;
}

#right .discution {
	margin-bottom: 25px;
}

#right .discution a {
	color: #aba2a2;
	font-size: 17px;
	font-weight: bold;
}

#right .discution a:hover {
	color: #f36417;
	transition: 0.20s;
}

#right #currentDiscution a {
	color: #f36417;
}

#up {
	height: 70px;
	text-align: right;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

#up input {
	width: 200px;
	margin: 10px 0;
	padding: 5px;
	font-size: 16px;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-radius: 0px;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
	border-radius: 3px;
}

#up input {
	outline:none;
}

#up select {
	width: 200px;
	margin: 10px 0;
	padding: 5px;
	font-size: 16px;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-radius: 0px;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
	border-radius: 3px;
}

#up select {
	outline:none;
}

#up .upContent.left {
	text-align: left;
	width: 50%;
}

#up .upContent.right {
	text-align: right;
	width: 50%;
}

#discutions {
	width: 65%;
}

/*#discutions hr {
	background-color: #5f615e;
	width: 90%;
	border-radius: 10px;
	height: 2px;
	margin: 20px auto;
}*/

#discutions .topic {
	width: 100%;
	min-width: 750px;
	border-radius: 5px;
	max-height: 130px;
	overflow: hidden;
	cursor: pointer;
	text-overflow: clip;
	display: flex;
	align-content: center;
	margin-bottom: 10px;
	transition-duration: 0.10s;
}

#discutions .topic:hover {
	transform: scale(1.005);
	transition-duration: 0.10s;
	box-shadow: 0 0 10px #6C88A8;
}

#discutions .topic .logo {
	margin: 15px;
	width: 60px;
	height: 60px;
	min-width: 60px;
	min-height: 60px;
}

#discutions .topic .logo img {
	width: 100%;
	height: 100%;
}

#discutions .title {
	width: 100%;
}

#discutions .title span {
	font-weight: bold;
}

#discutions .title h1 {
	font-size: 25px;
	font-weight: bolder;
	margin: 10px 0 0 5px;
}

#discutions .title p {
	color: #aba2a2;
	font-size: 15px;
	font-weight: normal;
	margin: 10px 0 0 5px;
}

#discutions .info {
	margin: 7px;
	display: inline-block;
	width: 1000px;

	text-align: right;

	height: 50px;
}

#discutions .info button {
	padding-bottom: 3px;
	margin: 2px;
	color: #ffffff;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border: 0;
	font-size: 1.1em;
	cursor: pointer;
	font-family: Raleway;
}

#discutions .info button.green {
	background-color: #5cae31;
}

#discutions .info button.green:hover {
	transition: 0.20s;
	background-color: #3e7b1e;
}

#createDiscussion .createContent {
	height: 85%;
}

#createDiscussion {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 650px;
	height: 600px;
	margin: auto;
	border-radius: 9px;
	background-color: white;
	text-align: center;
	color: #1b1e21;
	box-shadow: 0 0 20px #6C88A8;
}

#createDiscussion h1 {
	margin-top: 20px;
}

#createDiscussion h2 {
	font-size: 35px;
}
#createDiscussion label{
	margin-top: 10px;
	font-size: 25px;

}
#createDiscussion hr {
	width: 90%;
	border-radius: 10px;
	height: 1px;
	margin: 20px auto;
	background-color:#1b1e21 ;
}

.createContent{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#add_discussion_title{
	width: 60%;
	height: 50px;
	font-size: 30px;
	padding: 5px;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
	border-radius: 3px;
	outline:none;
	margin: 5px;
}


#createDiscussion .select {
	width: 80%;
	font-size: 25px;
}

#createDiscussion .createButtons {
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

#createDiscussion .createButtons button {
	margin: 0 40px;
	padding: 5px;
	width: 75px;
	color: #ffffff;
	height: 50px;
	border-radius: 5px;
	border: 0;
	font-size: 25px;
	cursor: pointer;
	font-family: Raleway;
}


#add_discussion_Ajouter{
	margin-top: 20px;
	font-weight: bolder;
	font-size: 20px;
	color: white;
	background-color: #94bbe9;
}

#add_discussion_Ajouter:hover{
	transition-duration: 0.2s;
	background-color: #6C88A8;
}

#createCategory .createContent {
	height: 85%;
}

#createCategory {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 650px;
	height: 600px;
	margin: auto;
	border-radius: 9px;
	background-color: white;
	text-align: center;
	color: #1b1e21;
	box-shadow: 0 0 20px #6C88A8;

}

#createCategory h1 {
	margin-top: 20px;
}

#createCategory h2 {
	font-size: 29px;
}

#createCategory hr {
	width: 90%;
	border-radius: 10px;
	height: 1px;
	margin: 20px auto;
	background-color:#1b1e21 ;
}

#add_categorie_discussion_title {
	width: 60%;
	height: 50px;
	font-size: 30px;
	padding: 5px;

	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-radius: 0px;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
	border-radius: 3px;
	outline:none;
	margin: 5px;
}

#createCategory .select {
	width: 80%;
	font-size: 25px;
}


#createCategory label{

	font-size: 25px;

}

#createCategory .createButtons button {

	margin-top: 50px;
	color: #ffffff;
	width: 90px;
	height: 30px;
	border-radius: 5px;
	border: 0;
	font-size: 13px;
	cursor: pointer;
	font-family: Raleway;
	background-color: #6C88A8;
}

#add_categorie_discussion_Creer{
	margin-top: 20px;
	font-weight: bolder;
	font-size: 20px;
	color: white;
	background-color: #94bbe9;
	border: 0;
}

#add_categorie_discussion_Creer:hover{
	transition-duration: 0.2s;
	background-color: #6C88A8;
	border: 0;
}


#topic {
	width: 70%;
}

#topic hr {
	background-color: #dcdcdc;
	width: 100%;
	border: none;
	border-radius: 10px;
	height: 1px;
	margin: 30px auto;
}

#topic div.title {
	color: black;
	font-weight: bold;
	padding: 50px;
	text-align: center;
}

#topic .topic {
	width: 100%;
	border-radius: 5px;
	display: flex;
	align-content: center;
	margin-bottom: 10px;
}


#topic .topic .logo {
	margin: 15px;
	width: 60px;
	height: 60px;
	min-width: 60px;
	min-height: 60px;
}

#topic .topic .logo img {
	width: 100%;
	height: 100%;
}

#topic .topic .title {
	width: 100%;
}

#topic .topic .username span {
	font-weight: bold;
	font-size: 20px;
	color: black;
}

#topic .topic .username h1 {
	font-size: 16px;
	font-weight: normal;
	margin: 10px 0 0 5px;
	color: #9d9999;
}

#topic .topic p {
	color: #7e7e7e;
	font-size: 17px;
	font-weight: normal;
	margin: 10px 0 0 5px;
}

#topic textarea {
	width: 100%;
	padding: 10px;
	height: 300px;
	margin: 10px auto;
	font-size: 25px;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-radius: 0px;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
	border-radius: 3px;
	resize: none;
}

#topic button {
	float: right;
	color: #ffffff;
	width: 200px;
	height: 40px;
	border-radius: 5px;
	border: 0;
	font-size: 20px;
	cursor: pointer;
	font-family: Raleway;
	background-color: #94bbe9;

}

#topic button:hover {

	background-color: #6C88A8;

}

#topic button.green {
	background-color: #45ad3b;
}

#topic button.green:hover {
	transition-duration: 0.2s;
	background-color: #2c8923;
}
.deleteDiv{
	margin: 15px;
	margin-top: 30px;
}
a.delete {
	padding: 7.5px;
	background-color: #FA9793;
	border-radius: 10px;
	color: white;
	font-size: 20px;
	font-weight: bolder;

	transition: 2ms;
	text-decoration: none;
}

a.delete:hover{

	padding: 7.5px;
	background-color: #FA6964;
	border-radius: 10px;
	color: white;
	font-size: 20px;
	font-weight: bolder;

	transition: 2ms;
	text-decoration: none;

}


.alert {
	padding: 10px;
	margin: 0 auto;
	width: 50%;
	text-align: center;
	color: #ffffff;
	font-size: 17px;
	font-weight: bold;
	background-color: #bb0505;
	border-radius: 7px;
}

footer {
	text-align: center;
	padding: 40px 0;
	color: #838383;
	font-weight: bold;
	background-color: #202024;
	font-size: 18px;
}


.paginationDiscussion{
	display: flex;
	border: 0;
	justify-content: center;

}
ul.pagination{

	justify-content: center;
}
.rechercheDiscussion{


	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin-bottom: 25px;


}


.rechercheDiscussion button {
	font-size: 25px;
	font-weight: bold;
	background-color: #94bbe9;
	border: 0;

}

.rechercheDiscussion button:hover {
	background-color:#6C88A8;
	transition: 0.5s;
}

.rechercheField{
	font-size: 20px;
	margin-right: 20px;
	width: 200px;
	height: 50px;

}

.formAjoutPost{
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;

}

.formAjoutPost textarea{

	width: 100%;
}

.formAjoutPost form{
	width: 100%;
}

#add_post_Ajouter_un_post{
	height: 80px;
	padding: 5px;
	text-align: center;
}


