{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Connexion
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-10 mt-4 mx-4 p-2 shadow-lg p-3 h-100 layout-description d-flex flex-column text-center">
            <h1 class="h3 mb-3 font-weight-normal text-primary">L'application est en maintenance <i class="fas fa-wrench"></i></h1>
            <h5 class="text-secondary">Merci de revenir au plus tard à 16h pour vous essayer à la nouvelle version <i class="far fa-smile-wink"></i></h5>
        </div>
    </div>
{% endblock %}
