{{form_start(registrationForm)}}
<div class="row">
    <div class="col-12">
        {{form_row(registrationForm.activities)}}
    </div>
</div>

{% include 'registration/components/navigation.html.twig' %}
{{form_end(registrationForm)}}
